[component='loading-button'],
[component='loading-buttons'] {
  .spinner {
    width: 30px;
    height: 30px;
    position: relative;
    margin: auto;
    div {
      position: absolute;
      width: inherit;
      height: inherit;
      border-radius: 100%;
      border: 5px solid;
      border-color: white transparent transparent transparent;
      animation: rotate 1s infinite ease-in-out;
      &:last-child {
        animation-delay: -0.15s;
      }
      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
